.container{
    width: 70%;
    margin: 0px auto;
}

.logo{
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    background-position: top;
    background-size: 28%;
}

.title{
    text-align: left;
    font-size: 30pt;
    margin-bottom: 2px;
    margin-top: 8px;
}

#logo-sx{
    width: 10%;
    height: auto;
    margin: 20px
}

.author{
    color: grey
}

.date{
    font-size: 10px;
}

.photo-tim{
    text-align: center;
}

.caption{
    padding-left: 50px;
    margin-top: 2px;
    font-size: 10px;
    font-style: italic;
}

.yellow{
    background-color: yellow;
}

ul{
    padding-inline-start: 15px;
    font-size: 0.8em;
}

table{
    border-spacing: 0px;
    width:100%;
    height:auto;
}

.table-top{
    background-color: #20a9e5;
    color: white;
}

.table-second-color{
    background-color: #b1e5f2;
}